/* General HTML */
html {
    min-height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
}

body {
    margin: 0%;
}

a {
    text-decoration: none;
}

/* Main div area that holds info */
#main {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: min-content;
}

#name {
    width: max-content;
}

#description {
    width :auto;
}

#header {
    font-size: 400%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-bottom: 0%;
    color: #333333;
}

#desc {
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:normal;
    margin-top: 0%;
    margin-bottom: 1%;
    width: 100%;
    color: #333333;
}

#icons {
    margin-top: 0%;
}

.icon {
    margin: 5px;
    width: 50px;
}

/* Quote at the bottom */
#quote_block {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #333333;
}

#quote_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-style: italic;
    width: 100%;
    color: white;
}